#!/usr/bin/env python
# -*- coding: utf-8 -*-
from typing import Dict

import pytest

from smorest_sfs.modules.auth import ROLES
from smorest_sfs.modules.{{module_name}}.models import {{ model_name }}
from smorest_sfs.modules.{{module_name}}.schemas import {{ model_name }}Schema
from tests._utils.helpers import param_helper
from tests._utils.injection import GeneralModify


class Test{{ model_name }}Modify(GeneralModify):
    items = "{{ module_name_singular }}_items"
    fixture_names = ("flask_app_client", "flask_app", "regular_user", "db",) + (items,)
    view = "{{ model_name }}.{{ model_name }}View"
    item_view = "{{ model_name }}.{{ model_name }}ItemView"
    login_roles = [ROLES.{{ model_name }}Manager]
    model = {{ model_name }}
    delete_param_key = "{{ module_name_singular }}_id"
    schema = "{{ model_name }}Schema"

    @pytest.mark.parametrize("data", param_helper(name="{{ module_name_singular }}"))
    def test_add(self, data: Dict[str, str]) -> None:
        data = self._add_request(data)
        assert data.keys() > {"id", "name"}

    def test_delete(self) -> None:
        self._delete_request()

    def test_item_modify(self) -> None:
        data = self._item_modify_request(json={"name": "tt"})
        assert data["name"] == "tt"

    def test_item_delete(self) -> None:
        self._item_delete_request()
