#!/usr/bin/env python
# -*- coding: utf-8 -*-
from typing import Any, Callable, Iterator, Tuple, Type

import pytest
from flask import Flask
from marshmallow import Schema

from smorest_sfs.modules.{{module_name}}.models import {{ model_name }}


@pytest.fixture
def {{ module_name_singular }}_items(
    flask_app: Flask, temp_db_instance_helper: Callable[..., Iterator[Any]],
) -> Iterator[Tuple[{{ model_name }}, {{ model_name }}, {{ model_name }}]]:
    # pylint: disable=W0613
    for _ in temp_db_instance_helper(
        *({{ model_name }}(name=str(_) + "tqwq") for _ in range(3))
    ):
        yield _


@pytest.fixture
def {{ model_name }}Schema(flask_app: Flask) -> Type[Schema]:
    # pylint: disable=W0621, W0613
    from smorest_sfs.modules.{{ module_name }}.schemas import {{ model_name }}Schema
    return {{ model_name }}Schema
