#!/usr/bin/env python
# -*- coding: utf-8 -*-


from typing import Dict

import pytest
from flask import Flask
from mixer.backend.marshmallow import NestedMixer

@pytest.fixture
def {{ module_name_singular }}_args(flask_app: Flask, nested_mixer: NestedMixer) -> Dict[str, str]:
    # pylint: disable=W0613
    from smorest_sfs.modules.{{ module_name }}.schemas import {{ model_name }}Schema

    data: Dict[str, str] = nested_mixer.blend({{ model_name }}Schema)
    
    return data
